@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=JetBrains+Mono:wght@200&family=Open+Sans&family=Poppins:wght@400&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

nav {
  height: auto;
  width: 100%;
  background: rgb(21, 24, 30);
  padding: 30px;
}
.items {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.items li {
  list-style: none;
  padding: 0px 20px;
  transition: 0.8s;
}
.items li a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: rgb(208, 208, 208);
}
.subitems {
  position: absolute;
  display: none;
  min-width: 130px;
  background: black;
  margin-top: 23px;
  padding: 5px 0;
}
.subitems li {
  padding: 16px 28px;
  transition: 0.8s;
}
.subitems li a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: rgb(208, 208, 208);
}
.subitems li:hover {
  background: rgb(36, 0, 0);
}
.items li:hover .subitems {
  display: block;
  transition: 2s;
}
.font {
  color: white;
  display: none;
}
@media (max-width: 767px) {
  .font {
    display: block;
    position: absolute;
    left: 0;
    margin-top: 10px;
    margin-left: 20px;
  }
  .items {
    display: block;
    height: auto;
    margin-top: 20px;
  }
  .items li {
    text-align: left;
    margin-top: 30px;
    width: 100%;
  }

  .items li ul {
    position: relative;
    width: 100%;
  }
}
